doctype html
html(lang="en")
  head
    title Game Over - Winner!
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/css/win.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js")
    script(src="/js/win.js")

  body
    .bubbles
      each i in [1,2,3,4,5,6,7,8,9,10]
        .bubble(style=`--i:${i};`)

    .center-container
      .logo-wrapper
        img.logo(src="/img/logo.png", alt="Logo")
      .content-box
        h1 Game Over 🎉
        h2.winner-name 🥇 Winner: #{winnerName}

        h3 Final Rankings:
        ul#final-scoreboard(data-partycode=partyCode)
          li Loading...

        a.btn(href="/menu") Back to Menu

    script.
      window.partyCode = '#{partyCode}';
